.container {
//   border: 1px solid blue;
  height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 0.5rem;

  figure {
    width: 100%;
    height: 80%;
    // border: 1px solid red;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }

      figcaption {
        background-color: rgba(0, 0, 0, 0.493);
        .play {
          visibility: visible;
        }
      }
    }

    figcaption {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;

      .bookmark {
        background-color: rgba(0, 0, 0, 0.31);
        width: 2rem;
        height: 2rem;
        margin-inline-start: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100vw;
        transition: background-color 0.3s ease-in-out;
        &:hover {
          background-color: white;
          svg {
            stroke: black;
          }
        }

        svg {
          stroke: white;
        }
      }
      .play {
        background-color: rgba(255, 255, 255, 0.493);
        width: 6.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100vw;
        font-weight: bold;
        visibility: hidden;

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .info {
    // border: 1px solid red;
    min-height: 2rem;

    p {
      font-size: 0.8rem;
    }

    .category-year {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      span {
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 100vw;
        display: block;
        background-color: white;
      }
    }
    .title {
      font-size: 1.2rem;
    }
  }
}
